#perfil {
    margin-top: 20px;
}

.perfil-info {
    text-align: center;
    margin-top: 20px;
}

.perfil-box {
    display: inline-block;
    background-color: #fff; 
    padding: 20px;
    border: 2px solid #1f3a5c; 
    border-radius: 8px;
    width: 250px;
}

.perfil-box p {
    font-size: 16px;
    color: #333;
    margin: 5px 0; 
}

.perfil-box strong {
    color: #1f3a5c; 
}

